.search-and-suggestion-button-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.btn{
  border-radius: .75rem;
  border: 0 solid #e3e3e3;
  box-sizing: border-box;
}
body {
  margin: 0rem;
  background-color: #000000
}
/* USER INPUT FONT */
.userInputFont{
  color: white;
  list-style-type: none;
}
.btn-container[data-status="hidden"]{
  display: none;
}
.newSearchIcon{
  color:white;
  cursor: pointer;
}